<ion-view title="Menu de Actividades" ng-init="getPlantillas();getTbl_empresas();">
    <ion-nav-buttons side="right" >
        <md-button class="md-icon-button ion-nav-button-right headBtnHome" ng-click="goHome()"
                   aria-label="Setting">
            <i class="ion-home" style=""></i>
        </md-button>
    </ion-nav-buttons> 
    <ion-content>
      <div class="HeaderContent" style="    height: 40px !important;">        
        <p>Seleccionar una Actividad</p>
      </div>
    </ion-content>

    <ion-content padding="true" class="has-header marginKevinP">
    <div ng-show="showLoaderPlan" style="text-align:center; ">
       <ion-spinner icon="android" class="loadingok"></ion-spinner>
    </div> 
    <div ng-show="showListPlantillas">
     <blockquote ng-if="k">
        Seleccionar una opción para continuar.
    </blockquote>
    <div ng-if="showUsuarioNormal">
         <div class="row" style="margin-bottom: -40px !important;margin-top:-20px;">
          <div class="col">
            <!--<div class="card newcardKevin"  ng-click="changeView('menu.home-registroLecturas');">-->
            <div class="card newcardKevin"  ng-click="changeView('menu.home-listaLecturas');">
              <div class="item item-text-wrap">
                <a class="button button-icon icon ion-ios-compose"></a>   
                <p>Lectura</p>
              </div>      
            </div>
          </div>     
        </div>  
        <div class="row" style="margin-bottom: -40px !important;">
          <div class="col">
            <div class="card newcardKevin" ng-click="changeView('menu.home-registroVerificaciones');">
              <div class="item item-text-wrap">
                <a class="button button-icon icon ion-ios-search-strong"></a>                
                <p>Verificaciones</p>
              </div>      
            </div>
          </div>     
        </div> 
        <div class="row" style="margin-bottom: -40px !important;">
          <div class="col">
            <div class="card newcardKevin" ng-click="changeView('menu.home-registroFotos');">
              <div class="item item-text-wrap">
                <a class="button button-icon icon ion-camera"></a>                
                <p>Lectura de Fotos</p>
              </div>      
            </div>
          </div>     
        </div> 
        <div class="row" style="margin-bottom: -40px !important;margin-top:-20px;">
          <div class="col">
            <!--<div class="card newcardKevin"  ng-click="changeView('menu.home-registroLecturas');">-->
            <div class="card newcardKevin"  ng-click="changeView('menu.home-registroReLecturas');">
              <div class="item item-text-wrap">
                <a class="button button-icon icon ion-ios-compose"></a>   
                <p>Re-Lectura</p>
              </div>      
            </div>
          </div>     
        </div> 

        <div class="row" ng-if="ok">
          <div class="col">
            <div class="card newcardKevin" ng-click="changeView('menu.home-registroFotosIncon');">
              <div class="item item-text-wrap">
                <a class="button button-icon icon ion-camera"></a>                
                <p>Inconsistencias de Fotos</p>
              </div>      
            </div>
          </div>     
        </div>      
    </div>
    <div ng-if="!showUsuarioNormal">
          <div class="row">
          <div class="col">
            <div class="card newcardKevin" ng-click="changeView('menu.home-registroFotosIncon');">
              <div class="item item-text-wrap">
                <a class="button button-icon icon ion-ios-compose"></a>              
                <p>Reporte de Avance</p>
              </div>      
            </div>
          </div>     
        </div>      
    </div>
             
    </div>
    </ion-content>
</ion-view>